.custom-box {
    border-radius: 36px;
    border-width: 7px;
    border-color: black;
    box-shadow: 15px 15px black;
}

.pixel-font{
    font-family: 'Handjet', cursive;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
