body {
    background-color: #B52126; 
    /*#1F1D1B #292827 #141414 Montserrat Poppins*/
    color: white;
    overflow: hidden;
}

.bottom-pop-out {
    transition: transform 250ms ease-in-out;
}

.bottom-pop-out:hover {
    transform: scale(1.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.custom-card:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: white;
    font-size: 18px;
    text-align: center;
}

/*.card-pop-out{
    transition:  transform 250ms ease-in-out;
}

.card-pop-out:hover {
    transform: scale(1.15);
}*/

.text-container {
    margin-top: 30px;
    width: 1920px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container p {
    font-size: 280px; /* Adjust the font size as needed */
    animation: scaleText 1.5s ease-in-out forwards;
}

@keyframes scaleText {
    from {
        transform: scale(3); /* Initial scale (bigger size) */
    }
    to {
        transform: scale(1); /* Final scale (normal size) */
    }
}

.animate-from-top {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    animation: slideFromTop 1.5s ease-in-out forwards;
}
  
@keyframes slideFromTop {
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.circuit {
    position: absolute;
    left: 0px;
    bottom: -150px;
    width: 100%; /* Make the image width 100% of its container */
    animation: scaleCircuit 2s ease-in-out forwards;
}

@keyframes scaleCircuit {
    from {
        transform: scale(0.01);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 100;
    }
}
.custom-border {
    border-radius: 36px;
    border-width: 7px; /* Decrease the border width */
    border-color: black; /* Set the border color to black */
    border-style: solid; /* Ensure the border style is solid */
}

.custom-card {
    display: flex;
    height: 283px; 
    width: 462px; /* 462px */
    background-color: rgb(10, 189, 88);
    position: relative; /* Needed for absolute positioning of ::after */
    overflow: hidden;
    margin-right: 50px;
    
}

.card-image {
    width: 100%; /* Ensure the image fills the container */
    background-color: rgb(0, 0, 0);
    object-fit: cover;
}

.card-text {
    position: absolute;
    bottom: 20px; /* Adjust this value to change the vertical position of the text */
    left: 20px; /* Adjust this value to change the horizontal position of the text */
    color: white; /* Change the text color as needed */
}

.icon {
    position: absolute;
    height: 90px;
    width: 90px; /* 462px */
    background-color: #4e0eff;
    border-radius: 36px;
    right: 10px;
    top: 10px;
    overflow: hidden;
}

.animate-from-right {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    animation: slideFromRight 1.5s ease-in-out forwards;
}
  
@keyframes slideFromRight {
    to {
      transform: translateX(0);
      opacity: 1;
    }
}


.z-0 {
    position: relative;
    z-index: 0;
}

.scroller {
    max-width: 100%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}


.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent 0%,
        white 20%,
        white 80%,
        transparent 100%
    );
    mask: linear-gradient(
        90deg,
        transparent 0%,
        white 20%,
        white 80%,
        transparent 100%
    );
}

.scroller[data-animated=true] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: 
        scroll 
        var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-duration="slow"] {
    --_animation-duration: 60s;
}

.scroller[data-duration="normal"] {
    --_animation-duration: 40s;
}

.scroller[data-duration="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

@keyframes scroll {
    to {
        transform: translate(-50%);
    }
}