{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}port{% endblock%}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column my-5">

<div class="container px-3 text-center my-5">
  <h1>Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  
  <p class="lead">
    <div class="modal fade" id="chooseOptionModal" aria-hidden="true" aria-labelledby="chooseOptionModalLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="chooseOptionModalLabel">Add your Progress!!!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body no-padding">
            <div class="list-group list-group-flush border-bottom scrollarea">

              <a href="#CertificateModalToggle" class="list-group-item list-group-item-action lh-sm" aria-current="true" data-bs-toggle="modal">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Certificate</strong>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
              </a>

              <a href="#WorkExperienceModalToggle" class="list-group-item list-group-item-action lh-sm" aria-current="true" data-bs-toggle="modal">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Work Experience</strong>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
              </a>

              <a href="#TrainingWorkshopModalToggle" class="list-group-item list-group-item-action lh-sm" aria-current="true"
              data-bs-toggle="modal">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Training Workshop</strong>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
              </a>

              <a href="#ProjectModalToggle" class="list-group-item list-group-item-action lh-sm" aria-current="true" 
              data-bs-toggle="modal">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Project</strong>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
              </a>

            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
          </div>

        </div>
      </div>
    </div>

    
    <!--Certificate Modal-->
    <div class="modal fade" id="CertificateModalToggle" aria-hidden="true" aria-labelledby="CertificateModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="CertificateModalToggleLabel">Modal 2</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form method="POST">
              {{ certificate_form.csrf_token }}
              {{ render_form(certificate_form) }}
          </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#chooseOptionModal" data-bs-toggle="modal">Back to first</button>
          </div>

        </div>
      </div>
    </div>
    <button class="btn btn-primary" data-bs-target="#chooseOptionModal" data-bs-toggle="modal">Open first modal</button>


    <!--Work Experience Modal-->
    <div class="modal fade" id="WorkExperienceModalToggle" aria-hidden="true" aria-labelledby="WorkExperienceModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="WorkExperienceModalToggleLabel">Modal 2</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form method="POST">
              {{ work_experience_form.csrf_token }}
              {{ render_form(work_experience_form) }}
          </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#chooseOptionModal" data-bs-toggle="modal">Back to first</button>
          </div>

        </div>
      </div>
    </div>
  

    <!--Training Workshop Modal-->
    <div class="modal fade" id="TrainingWorkshopModalToggle" aria-hidden="true" aria-labelledby="TrainingWorkshopModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="TrainingWorkshopModalToggleLabel">Modal 2</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form method="POST">
              {{ training_workshop_form.csrf_token }}
              {{ render_form(training_workshop_form) }}
          </form>
      
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#chooseOptionModal" data-bs-toggle="modal">Back to first</button>
          </div>

        </div>
      </div>
    </div>


    <!--Project Modal-->
    <div class="modal fade" id="ProjectModalToggle" aria-hidden="true" aria-labelledby="ProjectModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ProjectModalToggleLabel">Modal 2</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form method="POST">
              {{ project_form.csrf_token }}
              {{ render_form(project_form) }}
          </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#chooseOptionModal" data-bs-toggle="modal">Back to first</button>
          </div>

        </div>
      </div>
    </div>
    



    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            Hide this modal and show the first with the button below.
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#chooseOptionModal" data-bs-toggle="modal">Back to first</button>
          </div>

        </div>
      </div>
    </div>



  </p>
</div>
</div>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}